body {
    font-family: Arial;
    padding: 20px;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
}
