{% extends "base.html" %}

{% block content %}
<h2>Sales</h2>

<a class="btn" href="{% url 'add_sale' %}">Add Sale</a>

<table>
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Selling Price</th>
        <th>Cost Price (FIFO)</th>
        <th>Profit</th>
        <th>Date</th>
    </tr>

    {% for sale in sales %}
    <tr>
        <td>{{ sale.product.name }}</td>
        <td>{{ sale.quantity }}</td>
        <td>{{ sale.selling_price }}</td>
        <td>{{ sale.cost_price }}</td>
        <td>{{ sale.profit }}</td>
        <td>{{ sale.created_at|date:"d M Y" }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="6">No sales yet</td></tr>
    {% endfor %}
</table>
{% endblock %}
