{% extends "base.html" %}
{% block content %}

<h2>Sales</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Selling Price</th>
        <th>Cost Price</th>
        <th>Profit</th>
        <th>Date</th>
    </tr>
    {% for s in sales %}
    <tr>
        <td>{{ s.product.name }}</td>
        <td>{{ s.quantity }}</td>
        <td>{{ s.selling_price }}</td>
        <td>{{ s.cost_price }}</td>
        <td>{{ s.profit }}</td>
        <td>{{ s.created_at }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
