{% extends "base.html" %}
{% block title %}Sales List{% endblock %}

{% block content %}
<h2>Sales Records</h2>

<table border="1" cellpadding="8">
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price / Unit</th>
        <th>Total Price</th>
        <th>Date</th>
    </tr>

    {% for s in sales %}
    <tr>
        <td>{{ s.product.name }}</td>
        <td>{{ s.quantity }}</td>
        <td>{{ s.price_per_unit }}</td>
        <td>{{ s.total_price }}</td>
        <td>{{ s.date }}</td>
        <td>
            <a href="{% url 'generate_invoice' sale.id %}" class="btn btn-primary">
    Download Invoice PDF
</a>

        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
