{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="auth-container">
    <h2>Create Account</h2>

    {% for msg in messages %}
        <div class="alert alert-{{ msg.tags }}">{{ msg }}</div>
    {% endfor %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn-primary">Sign Up</button>
    </form>

    <div class="auth-links">
        <a href="{% url 'login' %}">Already have an account? Login</a>
    </div>
</div>
