{% extends "base.html" %}
{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/inventory.css' %}">
{% endblock %}


{% block page_title %}Category Form{% endblock %}

{% block content %}
<h2>{{ form.instance.id|yesno:"Edit Category,Add Category" }}</h2>

<form method="POST" class="card p-4 shadow-sm">
    {% csrf_token %}
    
    <div class="mb-3">
        <label class="form-label">Category Name</label>
        {{ form.name }}
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        {{ form.description }}
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="{% url 'category_list' %}" class="btn btn-secondary">Cancel</a>
</form>

{% endblock %}
