{% extends "base.html" %}
{% block page_title %}Supplier Form{% endblock %}
{% block content %}

<div class="container mt-4">

    <h2>{{ title }}</h2>

    <form method="POST" class="mt-3">
        {% csrf_token %}

        <div class="mb-3">
            <label>Name</label>
            {{ form.name }}
        </div>

        <div class="mb-3">
            <label>Phone</label>
            {{ form.phone }}
        </div>

        <div class="mb-3">
            <label>Email</label>
            {{ form.email }}
        </div>

        <div class="mb-3">
            <label>Address</label>
            {{ form.address }}
        </div>

        <button class="btn btn-success">Save</button>

        <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Cancel</a>
    </form>

</div>

{% endblock %}
