{% extends "base.html" %}

{% block content %}

<h1>Welcome Back, {{ user.username }}</h1>

{% if request.user.is_superuser %}
<div style="text-align:right; margin-bottom:15px;">
    <a href="/admin/" 
       class="btn btn-dark" 
       style="padding:8px 14px; background:#333; color:white; border-radius:6px; text-decoration:none;">
        ⚙ Admin Panel
    </a>
</div>
{% endif %}

<p>Total Products: {{ total_products }}</p>
<p>Total Purchases: {{ total_purchases }}</p>
<p>Total Sales: {{ total_sales }}</p>

{% endblock %}
